---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button";

import '@/styles/globals.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<Button>Hello World</Button>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
